{% extends "layout.html" %}
{% block content %}

    <div class="content-section" style="margin-top: 4rem; margin-left: 10rem" >
        <h3>Create a New Post!</h3>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{{ legend }}</legend>
                    <div class="form-group" style="margin-right: 20rem; margin-top: 2rem; margin-left: 5rem">
                    {{ form.title.label(class="form-control-label") }}
                    {% if form.title.errors %}
                        {{ form.title(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.title.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.title(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group" style="margin-right: 20rem; margin-top: 2rem; margin-left: 5rem">
                    {{ form.content.label(class="form-control-label") }}
                    {% if form.content.errors %}
                        {{ form.content(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.content.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.content(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group" style="margin-left: 5rem">
                <input class="btn btn-outline-info" id="submit" name="submit" type="submit" value="Share It" style="color: #ffffff; background-color: #4169e1">
            </div>
        </form>


       <div class="content-section" style="margin-top: 5rem">

        <h3>Older Posts</h3>
        <hr color="white" size="1">
          {% for post in posts %}
           <div id="rectangle" style="width: 60vw; height: 100%; background-color:#d29d00; margin-left: 5rem">
            <article class="media content-section" style="margin-left: 50px; margin-top: 5rem">
              <div class="media-body">
                  <div class="post-details" style="background-color: white; border: 3px solid white; border-radius: 0.25rem 0.25rem 0px 0px">
                  <div class="post-header-container" style="display: flex; justify-content: flex-start; align-items: center; margin-top: 10px; margin-left: 20px" >
                      <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}"
                      style="height: 64px; margin-right: 10px">
                        <div class="article-metadata">
                          <a class="mr-2" href="{{ url_for('account', username=post.author.username)}}">{{ post.author.username }}</a>
                          <small class="post-date">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
                          <h2><a class="post-title" href="{{ url_for('post', post_id=post.id)}}">{{ post.title }}</a></h2>
                        </div>
                  </div>
                   <p style="margin-left: 30px; margin-top: 10px">{{ post.content }}</p>
                  </div>
                <div class="post-content">

                    <!-- Blog Post -->
                    <div class="card mb-4">
                      <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
                      <div class="card-body">
                        <h2 class="card-title">Post Title</h2>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
                        <a href="#" class="btn btn-primary">Read More &rarr;</a>
                      </div>
                      <div class="card-footer text-muted">
                        Posted on January 1, 2017 by
                        <a href="#">Start Bootstrap</a>
                      </div>
                    </div>
                </div>
              </div>
            </article>
           </div>
          {% endfor %}

       </div>

    </div>

{% endblock content %}
